<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Admin Management System</h1>
		<hr>
		<h2>Create Bed</h2>

		<form action="#" th:action="@{/admin/create_appointment}" th:object="${admin}"
			method="POST">
			
            <div class="mb-3">
                <label>Select Patient</label>
                <select name="patient" class="form-control">
                    <option value="">-- Select a patient --</option>
                    <option th:each="patient : ${patients}" th:value="${patient.id}" th:text="${patient.firstName + ' ' + patient.lastName}"></option>
                </select>
            </div>
            
            <div class="mb-3">
                <label>Select Doctor</label>
                <select name="employee" class="form-control">
                    <option value="">-- Select a doctor --</option>
                    <option th:each="employee : ${employees}" th:value="${employee.id}" th:text="${employee.firstName + ' ' + employee.lastName}"></option>
                </select>
            </div>
			<div class="mb-3">
				<label>Enter Date</label>
                    <input id="date" type="date" placeholder="Appointment Date" class="form-control" name = "date">
			</div>
			<div class="mb-3">
                <label>Enter Time</label> 
                <input type="time" name="time" class="form-control" step="900">
            </div>
				<button type="submit" id="submitButton" class="btn btn-info col-2">Save Appointment</button>
		</form>
		<hr>
		<a th:href = "@{/admin/appointment_board}"> Back to Appointment List</a>
	</div>
</body>
</html>