<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="admin_dash::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
	<title>Employee Home</title>
</head>
<body>
	<section>
		<div class="container my-2">
			<h1>Employee List</h1>
			<a th:href="@{/admin/employee_board/new_employee}" class="btn btn-primary btn-sm mb-3">Add Employee</a>
			<table border="1" class = "table table-striped table-responsive-md">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="employee : ${employees}">
						<td th:text="${employee.id}"></td>
						<td th:text="${employee.email}"></td>
						<td th:text="${employee.role}"></td>
						<td>
							<a th:href="@{/api/admins/{id}(id=${employee.id})}" class="btn btn-primary">View</a>
							<a th:href="@{/api/admins/{id}/edit(id=${employee.id})}" class="btn btn-success">Edit</a>
							<a th:href="@{/api/admins/{id}(id=${employee.id})}" class="btn btn-danger">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</body>
</html>
