<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="patient_dash::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Patient Home</title>

</head>
<body>
	<section>
		<div class = "home-inner">
			<div class = "wrapper">
				<div class = "left">
					<h3> Patient:</h3>
					<p th:text="${patient.firstName + ' ' + patient.lastName}"></p>
				</div>
				<div class = "right">
					<div class = "info">
						<h3>Information:</h3>
						<div class = "info_data">
							<div class = "data">
								<h5>Email</h5>
								<p>[[${patient.email}]]</p>
							</div>
							<div class = "data">
								<h5>Doctor</h5>
								<p th:text="${patient.doctor}"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class = "wrapper2">
				<div class = "right">
					<div class = "info">
						<h3>Upcoming Appointment:</h3>
						<div class = "info_data">
							<div class = "data">
								<h5>Doctor: [[${patient.doctor}]]</h5>
								<h5 th:text = "${patient.appointmentdate +''}"></h5>
							</div>
						</div>
						<h3> Billing Summary:</h3>
						<div class = "info_data">
							<div class = "data">
								<h5 th:text = "'$' + ${patientuser.getBill()} + '0'"></h5>
							</div>
						</div>
						<h3> Prescriptions:</h3>
						<div class = "info_data">
							<div class = "data">
								<h5 th:text = "${patient.prescription}"></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>