<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="patient_dash::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Patient Home</title>

</head>
<body>
    <section>
        <div class = "home-inner">
            <div class="container my-2">
                <h1 class = "underline">Medical Records</h1>
                <h3>Current Doctor:</h3>
                <h5 th:text="${patientuser.getDoctor()} + ' ID:' + ${patientuser.getdoctorId}"></h5>
                <h3>Current Diagnosis:</h3>
                <h5 th:text="${patientuser.getDiagnosis()}"></h5>
                <h3>Current Prescription:</h3>
                <h5 th:text="${patientuser.getPrescription()}"></h5>
            </div>
        </div>
    </section>
</body>
</html>