<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="patient_dash::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Patient Home</title>

</head>
<body>
    <section>
        <div class = "home-inner">
            <div class="container my-2">
                <h1 class = "underline">Current Outstanding Bill:</h1>
                <h2 th:text="'$' + ${patientuser.getBill()} + '0' "></h2>
                <a th:href="@{/patient/makePayment/{id}(id=${patientuser.id})}" class="btn btn-success">Make Payment</a>
            </div>
        </div>
    </section>
</body>
</html>