<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="employee_dash::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Employee Home</title>
</head>
<body>
    <section>
        <h1>Employee Home Page</h1>
		<select class="form-control" name = "appointmenttable">
			<option value="">-- Select Doctor --</option>
			<th:block th:each="appointment : ${appointments}">
			  <option th:value="${appointment.id}" th:text="${appointment.appointmentdate + ' ' + appointment.doctor}"></option>
			</th:block>
		</select>
    </section>
</body>
</html>