body{
	width: 100%;
	height:100%;
	overflow: hidden;
	background-image: url(../images/background.jpg);
}
.inner-layer{
	position: absolute;
	width: 100%;
	height:100%;
	background-color: rgba(0,147,173,0.7);
	overflow: auto;
}
.home-inner{
	position: absolute;
	width: 100%;
	height:100%;
	background-color: rgb(245, 248, 248);
	overflow: auto;
}
.form-data{
	margin-top: 21%;
	background-color: #FFF;
	
}
.form-body{
	padding: 20px;
}
.form-head{
	padding: 10px;
	border-bottom: 1px solid #CCC;
}
.form-head h2{
	font-size: 22px;
	font-weight: 600;
}
.no-margin{
	margin: 0px;
}

.form-row{
	margin-bottom: 15px;
}
.form-control{
	background-color: #f7f7ff;
	border-radius: 0px;

}
.form-control:focus{
	box-shadow: none;
	border: 3px solid #0d6efd;
}
.btn-appointment{
	margin-top: 20px;
	background-color: #0d6efd !important;
	border-color: #0d6efd !important;
	width: 100%;
}
.content{
	margin-top: 15%;
	text-align: center;
	color: #FFF;
	padding: 30px;
}
.content h1{
	font-weight: 600;
	font-size: 3.5rem;
}
.content h2{
	font-weight: 600;
	font-size:2.5rem;
	margin-top: 20px;
}
.content p{
	font-size: 22px;
	margin-top: 20px;
}
.datepicker td, .datepicker th{
	padding: 5px;
}
.dropdown-menu.datepicker{
	max-width: 300px !important;
}


@media screen and (max-width: 976px){
	
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.wrapper{
	position : absolute !important;
	top: 2%   !important;
	left: 1% !important;
	transform: translate(-2%,-1%) !important;
	width: 600px !important;
height: 250px;
	display: flex !important;
	box-shadow: 0 1px 20px 0 rgba(44, 42, 177, 0.08)!important;
font-family: 'Josefin Sans', sans-serif ;
}

.wrapper .left{
	width: 40%;
	background: linear-gradient(to right, #0d6efd, #01dbdf);
	padding: 40px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	text-align: center;
}

.wrapper .left p{
padding-top: 18px;
font-size: 25px;
}

.wrapper .right{
	width: 60%;
	padding: 40px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	text-align: left;
}
.wrapper .right .info h3{
border-bottom: 1px solid #070707;
}

.wrapper2 .right .info h3{
	border-bottom: 1px solid #070707;
	margin-top: 10px;
	margin-left: 10px;
}

.wrapper2 .right .info h5{
	margin-top: 10px;
	margin-left: 10px;
}

.wrapper2{
	position : absolute !important;
	top: 37%   !important;
	left: 12% !important;
	transform: translate(-37%,-12%) !important;
	width: 600px !important;
height: 250px;
	display: flex !important;
	box-shadow: 0 1px 20px 0 rgba(44, 42, 177, 0.08)!important;
font-family: 'Josefin Sans', sans-serif ;
}

.underline{
	display: inline-block;
	border-bottom: 2px solid #070707;
}