<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Patient Forgot Password</title>

</head>
<body>
	<section>

		<div class="container p-3">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center fs-4">Patient Forgot Password</div>

						<div class="card-body">
							<form action="#">
								<div class="mb-3">
									<label>Enter Email</label> <input type="text" name="email"
										class="form-control">
								</div>
								<button class="btn btn-primary col-md-12" name="sendResetEmail">Send Reset Email</button>
							</form>
							<th:block th:if="${param.sendResetEmail}">
									<p class="text-center fs-4 text-info">Reset Password Email Sent.</p>
							</th:block>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
